body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

* { transition: 0.1s ease-in-out; } 
button:focus {outline: none;}
input { 
  display: block; 
  opacity: 0;
  position: relative;
  top: -100px;
}
    
#color-name {
  font-size: 22pt;
  padding: 8px;
  border: 2px solid black;
  border-radius: 12px;
  letter-spacing: 1px;
  background: white;
  color: black;
  display: inline-block;
  box-shadow: 
    3px 3px 0px #c0c0c0,
    4px 4px 0px black;
  position: fixed;
  top: 20px;
  left: 20px;
}
    
#copy-btn {
  font-family: 'Montserrat', sans-serif;
  background: white;
  color: black;
  width: 190px;
  text-align: center;
  letter-spacing: 1px;
  padding: 6px;
  font-size: 20pt;
  border: 2px solid black;
  border-radius: 12px;
  position: fixed;
  top: 100px;
  left: 20px;
  display: block;
  box-shadow: 
    0px 4px 0px #c0c0c0,
    0px 6px 0px black;
}
#copy-btn:active {
  top: 104px; 
  box-shadow: 
    0px 2px 0px #c0c0c0,
    0px 4px 0px black;
}

#info-block {
  font-family: 'Montserrat', sans-serif;
  background: white;
  color: black;
  display: black;
  width: 250px;
  font-size: 20pt;
  text-align: left;
  padding: 8px;
  padding-bottom: 14px;
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 
    3px 3px 0px #c0c0c0,
    4px 4px 0px black;

  position: fixed;
  top: 175px;
  left: 20px;
  user-select: none;
}